[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
mutagen = "*"
spotipy = {git = "https://github.com/MrWhammy/spotipy.git",ref = "library-albums"}
python-dotenv = "*"

[requires]
python_version = "3.7"
